<!DOCTYPE html>
<html>
<head>
  <title>MovieManiac</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <navbar-header><%= link_to 'Movie Maniac', root_path, :class=>'navbar-brand' %></navbar-header>
    <%= form_tag user_search_path, :method=>'POST' ,:class=>'navbar-form navbar-left'  do %>
        <div class="form-group">
          <%= text_field_tag :search_term,"" ,:class=>'form-control', :placeholder=>'Search Movie Maniac' %>       
        </div>
        <div class="form-group">
          <%= submit_tag 'Search', :class=>'btn btn-success' %>          
        </div>
    <% end %>
    <ul class="navbar-nav nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.first_name, user_profile_path(current_user.username) %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :data => { :method=>'delete' } %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>        
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>                  
        <% end %>
    </ul>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
